.item2 {
	display: flex;
	box-shadow: 0 13px 27px rgba(0, 0, 0, 0.15);
	padding: 20px;
	height: 280px;
	margin: 10px;
	background-color: #fff;
	border-radius: 30px;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
}

.item2:hover {
	color: red;
	box-shadow: 10px 50px 70px rgba(89, 2, 2, 0.15);
	opacity: 0.8;
	transition: all 0.4s ease;
	transform: scale(1.04);
}

.img {
	display: block;
	text-align: center;
	margin-bottom: 20px;
	height: 230px;
}

.name {
	display: block;
	font-size: 14px;
	margin-bottom: 10px;
}

.artist {
	display: block;
	font-size: 14px;
}

.button {
	display: block;
  width: 70px;
  background-color: #fff;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin-top: 5px;
}

.button:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.15);
}
