.mainContainer {
	display: flex;
	margin: 10px;
	flex-direction: column;
	padding: 10px;
	height: 100vh;
	box-sizing: border-box;
}

.infoTop {
	display: flex;
	justify-content: space-between;
}

.cardImage {
	box-shadow: 0 13px 27px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-left: 150px;
}

.cardImage img {
	width: 360px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
	width: 50%;
	box-shadow: 0 13px 27px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 10px;
  justify-content: center;
  align-items: flex-start;
}

.infoBottom {
	box-shadow: 0 13px 27px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	margin-top: 20px;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoBottom span {
  font-size: 20px;
  display: block;
  margin: 0 20px;
}

.information {
  font-size: 30px;
  margin: 30px;
}

.information span {
  font-weight: bold;
  margin-right: 10px;
}

.information div {
  margin-bottom: 20px;
}

.button {
	display: block;
  width: 100px;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	border: 1px solid rgba(0, 0, 0, 0.15);
  margin: 20px;

}

.button:hover {
	cursor: pointer;
	background-color: red;
}